
<div class="container mt-5 "> 
    <div class="mx-auto">
        <div class="row justify-content-center mt-3 ">
            <div class="col-10">
                <%= render 'shared/errors'%>
                <%= form_with model: @user,class:"container shadow row g-3 bg-black rounded mt-2",local: true do |f| %>
                    <div class="col-md-6">
                        <%= f.label :firstname ,class:"form-label text-white"%>
                        <%= f.text_field :firstname,class:"form-control shadow p-3 bg-body-tertiary rounded",placeholder:"Enter Firstname" %>
                        <% @user.errors.full_messages_for(:firstname).each do |message| %>
                            <div><%= message %></div> 
                        <% end %> 
                    </div>
                    
                    <div class="col-md-6">
                        <%= f.label :lastname ,class:"form-label text-white"%>
                        <%= f.text_field :lastname,class:"form-control shadow p-3 bg-body-tertiary rounded",placeholder:"Enter Lastname" %>
                        <% @user.errors.full_messages_for(:lastname).each do |message| %>
                            <div><%= message %></div> 
                        <% end %> 
                    </div>
                    <div class="col-12">
                        <%= f.label :email ,class:"form-label text-white"%>
                        <%= f.email_field :email,class:"form-control shadow p-3 bg-body-tertiary rounded",placeholder:"Enter Your Email" %>
                        <% @user.errors.full_messages_for(:email).each do |message| %>
                            <div><%= message %></div> 
                        <% end %> 
                    </div>
                    
                    <div class="col-12">
                        <%= f.label :password ,class:"form-label text-white"%>
                        <%= f.password_field :password,class:"form-control shadow p-3 bg-body-tertiary rounded",placeholder:"Enter Password" %>
                        <% @user.errors.full_messages_for(:password).each do |message| %>
                            <div><%= message %></div> 
                        <% end %>
                    </div>
                    <div class="form-group  text-center mt-3">
                        <%= f.submit class:"btn btn-outline-success btn-lg my-6 text-white mb-3 " %>
                    </div> 
                    
                <% end %>
            </div>
            <div class="mb-3">
                
            </div>
        </div>
        
    </div>
</div>
