<div class="container">
    <h1 class="text-center m-5">See all Registered Users Here !</h1>
            <div class="flickr_pagination mb-3">
                <%= will_paginate @users, :container => false %>
            </div>


        <table class="table table-bordered m-5">
            <thead class="thead-dark">
                <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name </th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                <tr>
                    <td><%=user.firstname %></td>
                    <td><%= user.lastname %></td>
                    <td><%= user.email %></td>
                    <td>
                        <span class="me-3">
                            <%= link_to  user_path(user.id), class: 'me-2' do %>
                            <svg id="i-user" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M22 11 C22 16 19 20 16 20 13 20 10 16 10 11 10 6 12 3 16 3 20 3 22 6 22 11 Z M4 30 L28 30 C28 21 22 20 16 20 10 20 4 21 4 30 Z" />
                            </svg>
                            <% end %>
                        </span>
                        <% if logged_in? && (user==current_user || current_user.admin) %>
                        <span class="me-3">
                            <%= link_to edit_user_path(user) , class: 'me-2' do %>
                            <svg id="i-edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z" />
                            </svg>
                            <% end %>
                        </span>
                        <span class="me-3">
                            <%= link_to  user_path(user), class: 'me-2', data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?"
                            } do %>
                            <svg id="i-trash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M28 6 L6 6 8 30 24 30 26 6 4 6 M16 12 L16 24 M21 12 L20 24 M11 12 L12 24 M12 6 L13 2 19 2 20 6" />
                            </svg>
                            <% end %>
                        </span>
                        <% end %>
                    </td>   
                </tr>
                <tr>
                    <% end %>   
            </tbody>
        </table>
        <div class="flickr_pagination mb-3">
            <%= will_paginate @users, :container => false %>
        </div>
</div>





